<div class="mobile-category-list">
  <ul class="group-list">
     <li><a class="active" href="#" onclick="scrollToCategory(event, 'category1')">فطورات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category2')">معجنات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category3')">بيتزا</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category4')">فتات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category5')">مقبلات باردة</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category6')">مقبلات ساخنة</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category7')">سلطات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category8')">الكبب</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category9')">شوربات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category10')">اكلات شامية</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category11')">شاورما</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category12')">المشويات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category13')">الفخاريات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category14')">وجبات الغربي</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category15')">وجبات الغربي اللحم</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category16')">بحريات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category17')">جاط مقبلات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category18')">جاط سلاصات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category19')">الشاميات بالكيلو</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category20')">الساندويش</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category21')">عصيرات</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category22')">مشروبات جانبية</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category23')">قشاطي أحلام الشام</a></li>
     <li><a href="#" onclick="scrollToCategory(event, 'category24')">جاك عصاير</a></li>
  </ul>
</div>
