<div  class="categorySection" id="category1" >
  <div class="category-name "><span>فطورات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category2" >
  <div class="category-name "><span>معجنات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category3" >
  <div class="category-name "><span>بيتزا</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category4" >
  <div class="category-name "><span>فتات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category5" >
  <div class="category-name "><span>مقبلات باردة</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category6" >
  <div class="category-name "><span>مقبلات ساخنة</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category7" >
  <div class="category-name "><span>سلطات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>


<div  class="categorySection" id="category8" >
  <div class="category-name "><span>الكبب</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>



<div  class="categorySection" id="category9" >
  <div class="category-name "><span>شوربات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>

<div  class="categorySection" id="category10" >
  <div class="category-name "><span>شامية</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>



<div  class="categorySection" id="category11" >
  <div class="category-name "><span>اكلات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>



<div  class="categorySection" id="category12" >
  <div class="category-name "><span>شاورما</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>
