<div  class="categorySection" id="category1" >
  <div class="category-name "><span>فطورات</span> </div>

  <div  class="item-card">
    <div class="card-content">

      <div class="card-content-name">بيض باللحم</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض لحم جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/da1e2648-5c5b-4bd1-bac4-c7cedfa0223a/66f00db1cf269.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/a257490b-dd22-4544-889a-8b860ddb6da1/65cc9056a334a.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>

  <div class="item-card">
    <div class="card-content">

      <div class="card-content-name"> بيض نقانق جبن</div>
      <div class="card-content-price">
        <div class="card-content-price-2">
          <div dir="ltr" class="card-content-price-3">
19.00 <small>SAR</small>
          </div>
      </div>
      </div>

    </div>
    <div class="card-img">
      <img src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم" >
    </div>
  </div>


</div>






<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category2" >
  <h2>معجنات</h2>
  <p>Details about معجنات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category3" >
  <h2>بيتزا</h2>
  <p>Details about بيتزا...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category4" >
  <h2>فتات</h2>
  <p>Details about فتات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category5" >
  <h2>مقبلات باردة</h2>
  <p>Details about مقبلات باردة...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category6" >
  <h2>مقبلات ساخنة</h2>
  <p>Details about مقبلات ساخنة...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category7" >
  <h2>سلطات</h2>
  <p>Details about سلطات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category8" >
  <h2>الكبب</h2>
  <p>Details about الكبب...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category9" >
  <h2>شوربات</h2>
  <p>Details about شوربات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category10" >
  <h2>اكلات شامية</h2>
  <p>Details about اكلات شامية...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category11" >
  <h2>شاورما</h2>
  <p>Details about شاورما...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category12" >
  <h2>المشويات</h2>
  <p>Details about المشويات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category13" >
  <h2>الفخاريات</h2>
  <p>Details about الفخاريات...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category14" >
  <h2>وجبات الغربي</h2>
  <p>Details about وجبات الغربي...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category14" >
  <h2>وجبات الغربي</h2>
  <p>Details about وجبات الغربي...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category15" >
  <h2>وجبات الغربي</h2>
  <p>Details about وجبات الغربي...</p>
</div>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<h1>hhh</h1>
<div class="categorySection" id="category16" >
  <h2>وجبات الغربي</h2>
  <p>Details about وجبات الغربي...</p>
</div>


