<div class="header-container header-content">
  <nav class="nav-section">
    <div class="container header-section">
      <div id="burger-menu" class="menu-side-btn icon-menu">
        <div class="burger-menu" >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="bg-white menu-bar"  (click)="toggleDivVisibility()">
        <div class="header-dropdown-container">
          <div class="header-dropdown">
            <div class="arrow-down">  <i class="fas fa-chevron-down"></i></div>

            <div class="food-type">
              <div>
                <span class="food-type-1">نوع الطلب</span>
              </div>
              <div>
                <span class="food-type-2"> حدد نوع الطلب</span>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </nav>
</div>
