<main class="body">
  <app-navbar></app-navbar>
  <app-background-layer></app-background-layer>
  <app-header></app-header>
  <app-banner></app-banner>

  <section>
    <div class="container">
      <div class="items main-section">
        <div class="category">
          <div class="category-section">

           <app-category-bar class="category-list" ></app-category-bar>
           <app-mobil-category-bar class="mobile-category-list-container"></app-mobil-category-bar>

            <app-items class="category-items"></app-items>

          </div>
        </div>

         <app-cart class=" sidebar"></app-cart>
      </div>
    </div>
  </section>



  <!-- <app-footer></app-footer> -->
  <!-- <app-order-option></app-order-option> -->
<app-order-option></app-order-option>



</main>


<app-add-to-cart-item-modal></app-add-to-cart-item-modal>
