<div class="product-modal-overlay"></div> <!-- Add this overlay div -->
<div class="product-modal">
  <img class="product-image"  src="https://media-files.tryordersystem.com/menu/shamdreams/ef1e8a09-8198-4a2a-af84-3eb672542300/66f00e2f81a12.jpeg" alt="بيض باللحم">
  <button class="close-btn">&times;</button>


  <div class="info-wrapper">
    <div class="product-info">
      <span class="product-price">21.00 EGP</span>
      <span class="product-name">نوتيلا</span>
    </div>
    <div class="product-actions">
      <button class="add-to-cart">
        <span>إضافة</span>
        <span class="total-price">( 42.00 EGP )</span>
      </button>
      <div class="quantity">
        <button class="decrement">-</button>
        <input type="number" value="2" min="1" />
        <button class="increment">+</button>
      </div>
    </div>
  </div>


</div>
